*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-image: url('back');
    background-color: #e4d9d9;
}
.heddr, .heddr * {
        align-items: center;
        justify-content: space-between;
        font-family: monospace;
        font-weight: bold;
}
.heddr {
        display: flex;
        background-color: #93162a;
        nav {
            display: flex;
            gap: .5rem;
        }
        .btn{
            border: 1rem #002642 solid;
            background-color: #002642;
            padding: 0 .5rem;
            margin: .5rem;
            border-radius: 15px;
            color: #e59500;
            &.active{
                border: 1rem #e59500 solid;
                background-color: #e59500;
                padding: 0 .5rem;
                margin: .5rem;
                border-radius: 15px;
                color: #002642;
            }
        }
        .logo {
            height: 5rem;
            margin: .5rem;
        }
        .logo2 {
        height: 6rem;
        margin: 0rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        }
}
.stuff{
        margin: 1rem;
        background-color: #002642;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
        padding: 1rem;
        font-size: 15px;
        text-align: center;
        font-family: monospace;
            h1{
                color: #e4d9d9;
                font-weight: bold;
                font-size: 80px;
            }
            h2{
                color: #e4d9d9;
                font-weight: bold;
                font-size: 50px;
            }
            a{
                color: #e59500;
                font-size: 30px;
            }
}
.end{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1rem;
}