*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    background-image: url('back');
    background-color: #e4d9d9;
}
.heddr, .heddr * {
        align-items: center;
        justify-content: space-between;
        font-family: monospace;
        font-weight: bold;
}
.heddr {
        display: flex;
        background-color: #93162a;
        .ass {
            display: flex;
            gap: .5rem;
        }
        .btn{
            border: 1rem #002642 solid;
            background-color: #002642;
            padding: 0 .5rem;
            margin: .5rem;
            border-radius: 15px;
            color: #e59500;
            &.active{
                border: 1rem #e59500 solid;
                background-color: #e59500;
                padding: 0 .5rem;
                margin: .5rem;
                border-radius: 15px;
                color: #002642;
        }
        }
        .logo {
            height: 5rem;
            margin: .5rem;
        }
        .logo2 {
        height: 6rem;
        margin: 0rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        }
}
.arts{
    height: 5dvh;
    margin-left: 20%;
    margin-right: 20%;
    .portfolio {
        width: 100%;
        margin: auto;
        padding: 40px;
        margin-top: 1rem;
        background-color: #93162a;
        border-radius: 50px;
    }
    .gallery {
        border: .5rem #e59500 solid;
        background-color: #e59500;
        padding: 2rem;
        border-radius: 20px;
        text-align: center;
        color: #002642;
        font-size: 30px;
        font-family: monospace;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .collection{
        display: flex;
        gap: 20px;
        margin-top: 1rem;
    }
    .column{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .pics img{
        width:100%;
        height: 100;
        border-radius: 5px;
        object-fit: cover;
    }
}

.content {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    clear: both;

.left {
    float: left;
    height: 300px;
    margin-top: .5rem;
}
.right {
    float: right;
    height: 300px;
    margin-top: .5rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
}
.end{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1rem;
}