body {
background-color: #e4d9d9;
}
header{
    text-align: right;
    justify-content: flex-end;
    padding: .3rem;
    border: 2px #93162a;
    background-color: #93162a;
}
.logo {
    height: 3rem;
    display: flex;
}
.main {
    display: grid;
  grid-template-columns: 59% 40% ;
  grid-template-rows: auto auto ;
  column-gap: 1rem;
  background-color: #e4d9d9;
  padding: 1rem;
}
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.info {background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1rem;
    font-size: 12px;
    text-align: justify;
}
.quali {background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1rem;
    font-size: 12px;
    text-align: left;
    h2 {
        margin: 0;
    }
    h3 {
        Margin: 0;
    }

}