*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.heddr, .heddr * {
        align-items: center;
        justify-content: space-between;
}
.heddr {
        display: flex;
        background-color: #93162a;
}
nav {
    display: flex;
    gap: .5rem;
}
.btn{
    border: 1rem #002642 solid;
    background-color: #002642;
    padding: 0 .5rem;
    margin: .5rem;
    border-radius: 15px;
    color: #e59500;

    &.active{
        border: 1rem #e59500 solid;
        background-color: #e59500;
        padding: 0 .5rem;
        margin: .5rem;
        border-radius: 15px;
        color: #002642;

}
}
.logo {
    height: 3rem;
}
.main {
    display: grid;
    grid-template-columns: 59% 40% ;
    grid-template-rows: auto auto ;
    column-gap: 1rem;
    background-color: #e4d9d9;
    padding: 1rem;
}
body {
    background-color: #e4d9d9;
}
.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.info {background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1rem;
    font-size: 12px;
    text-align: justify;
}
.quali {background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1rem;
    font-size: 12px;
    text-align: left;
    h2 {
        margin: 0;
    }
    h3 {
        Margin: 0;
    }

}